/*
Title: <name>
Authors: Justin Garza <JGarza9788@gmail.com>
Desc: <Description>
Demo: ./demos/<name>.gif
*/


animations {

    // Slow down all animations by this factor. Values below 1 speed them up instead.
    // slowdown 3.0

    workspace-switch {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }

    window-open {
        duration-ms 150
        curve "ease-out-expo"

        custom-shader r"
// functions - if needed

vec4 open_color(vec3 coords_geo, vec3 size_geo) {
    if (coords_geo.x < 0.0 || coords_geo.x > 1.0 ||
        coords_geo.y < 0.0 || coords_geo.y > 1.0) {
        return vec4(0.0);
    }

    // variables - if needed

    // code

    //return color 
    return vec4(1.0,0.0,0.0,1.0);
}
        "
    }

    window-close {
        duration-ms 150
        curve "ease-out-quad"

        custom-shader r"
// functions - if needed

vec4 close_color(vec3 coords_geo, vec3 size_geo) {
    if (coords_geo.x < 0.0 || coords_geo.x > 1.0 ||
        coords_geo.y < 0.0 || coords_geo.y > 1.0) {
        return vec4(0.0);
    }

    // variables - if needed

    // code

    //return color 
    return vec4(1.0,0.0,0.0,1.0);
}
        "
    }

    window-resize {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001

        custom-shader r"
// functions - if needed

vec4 resize_color(vec3 coords_geo, vec3 size_geo) {
    if (coords_geo.x < 0.0 || coords_geo.x > 1.0 ||
        coords_geo.y < 0.0 || coords_geo.y > 1.0) {
        return vec4(0.0);
    }

    // variables - if needed

    // code

    //return color     
    return vec4(1.0,0.0,0.0,1.0);
}
        "
    }


// ***animations below do not use a shaders ***
// these are not required


    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    config-notification-open-close {
        spring damping-ratio=0.6 stiffness=1000 epsilon=0.001
    }

    exit-confirmation-open-close {
        spring damping-ratio=0.6 stiffness=500 epsilon=0.01
    }

    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }

    overview-open-close {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    recent-windows-close {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.001
    }
}